<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
  <title>input box</title>
</head>
<body>


  <!-- ========= -->
  <!-- Application -->
  <!-- ========= -->

  <section id = "inputBox">
    <header id = "inputHeader">
      <h1>post something</h1>
      <input id = "input" placeholder="whats on your mind"></input>
      <div class="embedContainer"></div>
    </header>
  </section>


  <!-- ========= -->
  <!-- Templates -->
  <!-- ========= -->
  <script type="text/template" id="post-template">
    <div class="view">
      <p><%- text %></p>
      <div class = "embedContainer"></div>
    </div>
  </script>  

  <script type="text/template" id="embed-template">

  <div class = "embed <%- type %>">

    <% if (type == '404') { %>
      <div class = "title"> 404, not found </div>
      <div class = "description"> This page is not available. </div>

    <% } else if (type == 'photo') { %>

      <img src="<%- url %>">

    <% } else { %>

      <% if(thumbnail_url) { %>
          <div class = "thumbnail">
            <img src="<%- thumbnail_url %>">
          </div>
      <% } %>

      <div class = "title">
        <% if (url) { %>
          <a target="_blank"  href="<%- url %>"><%- title %></a>
        <% } else { %>
          <%- title %>
        <% } %>
      </div>

      <div class = "attribution">
        <% if (author_name) { %>
          <span class = "author">
            <% if (author_url) { %>
              <a target="_blank" href="<%- author_url %>"><%- author_name %></a>
            <% } else {  %>
               <%- author_name %>
            <% } %>
            </span>
       <% } %>
       <% if (provider_name) { %>
          <span class = "provider">
            via <%- provider_name %></a>
          </span>
       <% } %>
      </div>

       <% if (description) { %>
        <span class = "description"><%- description %></span>
       <% } %>

       <% if (html) { %>
        <div class = "embed-html" data-html="<%- html %>"></div>
       <% } %>

     </div>

   <% } %>

  </script>  


  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>  
  
  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript" src="sample-embed-responses.js"></script>
  <script type="text/javascript" src="app.js"></script>
  
</body>
</html>
